// a {
//     color: #58a6ff;

//     &:hover {
//         color: #67abf8;
//         text-decoration: solid;
//     }
// }

p {
    line-height: 2.2;
}

mark {
    color: #ccc;
    padding: 2px 6px;
    border-radius: 10px;
    @include background(linear-gradient(to right, #213672, #39519e));
}

.elements {
    background-color: var(--background);
    display: block;
    margin: 30px 10px;
}

.title {
    @include font($font-vazir-Medium,22px);
    list-style: circle;
}
