$font-vazir-Thin: "Vazir-Thin";
$font-vazir-Light: "Vazir-Light";
$font-vazir-Variable: "Vazir-Variable";
$font-vazir-Regular: "Vazir-Regular";
$font-vazir-Medium: "Vazir-Medium";
$font-vazir-Bold: "Vazir-Bold";

@font-face {
    font-family: "Vazir-Thin";
    src: url("../font/vazir/Vazir-Thin.woff");
}
@font-face {
    font-family: "Vazir-Light";
    src: url("../font/vazir/Vazir-Light.woff");
}
@font-face {
    font-family: "Vazir-Variable";
    src: url("../font/vazir/Vazir-Variable.woff");
}
@font-face {
    font-family: "Vazir-Regular";
    src: url("../font/vazir/Vazir-Regular.woff");
}
@font-face {
    font-family: "Vazir-Medium";
    src: url("../font/vazir/Vazir-Medium.woff");
}
@font-face {
    font-family: "Vazir-Bold";
    src: url("../font/vazir/Vazir-Bold.woff");
}

@font-face {
    font-family: "chalkboard";
    src: url("../font/chalkboard/2157-font.otf");
}