/* Responsive Box */

.itm-12 {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(1200px, 1fr));
    text-align: center;
    width: 100%;
    max-width: 1200px;
    justify-content: center;
  
    .itm {
      margin: 10px !important;
      grid-gap: 1rem;
    }
  }
  
  .itm-2 {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    text-align: center;
    width: 100%;
    max-width: 1200px;
    justify-content: center;
  
    .itm {
      margin: 10px 80px !important;
      grid-gap: 1rem;
    }
  }
  
  .itm-3 {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    text-align: center;
    width: 100%;
    max-width: 1200px;
    justify-content: center;
  
    .itm {
      margin: 10px !important;
      grid-gap: 1rem;
    }
  }
  
  .itm-4 {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    text-align: center;
    width: 100%;
    max-width: 1200px;
    justify-content: center;
  
    .itm {
      margin: 10px !important;
      grid-gap: 1rem;
    }
  }
  
  .itm-5 {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    text-align: center;
    width: 100%;
    max-width: 1200px;
    justify-content: center;
  
    .itm {
      margin: 10px !important;
      grid-gap: 1rem;
    }
  }
  
  @media only screen and (max-width:540px) {
    .top-bar {
      /* display: none !important; */
      height: 90px;
      cursor: pointer;
    }
  
    .CopyRight {
      width: 100% !important;
      right: 0 !important;
      bottom: 0 !important;
      margin: 0 auto !important;
      padding: 122px 10px 20px 10px;
      border-radius: 0;
    }
  
    .footer {
      margin: 0 0 100px 0;
      border-radius: 0;
    }
  
    .top-bar__text {
      cursor: pointer;
    }
  
    .top-bar__link {
      display: none !important;
    }
  
    .header {
      margin-top: 0 !important;
    }
  
    .bar {
      display: none !important;
    }
  
    .details {
      top: 80px !important;
      right: 96px;
    }
  
    .about-bar__name {
      line-height: 4 !important;
    }
  }
  
  @media only screen and (max-width: 466px) {
    .comment-form__title {
      font-size: 16px;
    }
  
    .CoppyRight {
      padding: 130px 10px 16px 10px;
    }
  }