$font-vazir-Thin: "Vazir-Thin";
$font-vazir-Light: "Vazir-Light";
$font-vazir-Variable: "Vazir-Variable";
$font-vazir-Regular: "Vazir-Regular";
$font-vazir-Medium: "Vazir-Medium";
$font-vazir-Bold: "Vazir-Bold";

// Prefix          Browser

// -webkit-        For safari browser, Android Browser

// -moz-           For Firefox Browser

// -o-             For opera Browser

// -ms-            For Microsoft Edge, Internet Explorer

@mixin font($famliy:$font-vazir-medium,$size:auto,$weight:auto) {
    font-family: $famliy;
    -o-font-family: $famliy;
    -ms-font-family: $famliy;
    -moz-font-family: $famliy;
    -webkit-font-family: $famliy;

    font-size: $size;
    -o-font-size: $size;
    -ms-font-size: $size;
    -moz-font-size: $size;
    -webkit-font-size: $size;

    font-weight: $weight;
    -o-font-weight: $weight;
    -ms-font-weight: $weight;
    -moz-font-weight: $weight;
    -webkit-font-weight: $weight;
}

@mixin background($parametrs...) {
    background: $parametrs;
    -o-background: $parametrs;
    -ms-background: $parametrs;
    -moz-background: $parametrs;
    -webkit-background: $parametrs;
}

@mixin user-select($parametrs:none) {
    user-select: $parametrs;
    -o-user-select: $parametrs;
    -ms-user-select: $parametrs;
    -moz-user-select: $parametrs;
    -webkit-user-select: $parametrs;

    -o-user-drag: $parametrs;
    -ms-user-drag: $parametrs;
    -moz-user-drag: $parametrs;
    -webkit-user-drag: $parametrs;

    user-zoom: $parametrs;
    -o-user-zoom: $parametrs;
    -ms-user-zoom: $parametrs;
    -moz-user-zoom: $parametrs;
    -webkit-user-zoom: $parametrs;
}

@mixin box-sizing($parametrs:border-box) {
    box-sizing: $parametrs;
    -o-box-sizing: $parametrs;
    -ms-box-sizing: $parametrs;
    -moz-box-sizing: $parametrs;
    -webkit-box-sizing: $parametrs;
}

@mixin box-shadow($parametrs...) {
    box-shadow: $parametrs;
    -o-box-shadow: $parametrs;
    -ms-box-shadow: $parametrs;
    -moz-box-shadow: $parametrs;
    -webkit-box-shadow: $parametrs;
}