$font-vazir-Thin: "Vazir-Thin";
$font-vazir-Light: "Vazir-Light";
$font-vazir-Variable: "Vazir-Variable";
$font-vazir-Regular: "Vazir-Regular";
$font-vazir-Medium: "Vazir-Medium";
$font-vazir-Bold: "Vazir-Bold";

// Prefix          Browser

// -webkit-        For safari browser, Android Browser

// -moz-           For Firefox Browser

// -o-             For opera Browser

// -ms-            For Microsoft Edge, Internet Explorer

@mixin font($famliy,$size,$width) {
    font-family: $famliy;
    -o-font-family: $famliy;
    -ms-font-family: $famliy;
    -moz-font-family: $famliy;
    -webkit-font-family: $famliy;

    font-size: $size;
    -o-font-size: $size;
    -ms-font-size: $size;
    -moz-font-size: $size;
    -webkit-font-size: $size;

    font-weight: $width;
    -o-font-weight: $width;
    -ms-font-weight: $width;
    -moz-font-weight: $width;
    -webkit-font-weight: $width;
}

@mixin background($parametrs...) {
    background: $parametrs;
    -o-background: $parametrs;
    -ms-background: $parametrs;
    -moz-background: $parametrs;
    -webkit-background: $parametrs;
}

@mixin font-family($parametrs) {
    font-family: $parametrs;
    -o-font-family: $parametrs;
    -moz-font-family: $parametrs;
    -webkit-font-family: $parametrs;
}

@mixin user-select-none {
    user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    -o-user-drag: none;
    -moz-user-drag: none;
    -webkit-user-drag: none;

    user-zoom: none;
    -o-user-zoom: none;
    -moz-user-zoom: none;
    -webkit-user-zoom: none;
}

