/* Project Hello World Css Style's */

/* Developer Mobin Javari */

/* About Developer : Https://MobinJavari.IR/ */


* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}



/* Body Style's */

.body {
    background-color: #101010;
    color: #ffffff;
    font-size: 15px;
    font-family: 'vazir';
    direction: rtl;
    text-align: right;
} 
 


/* Top Bar Style's */

.top-bar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background: linear-gradient(to right, #213672, #39519e);
    text-align: center;
    padding: 16px 10px;
    box-shadow: 0px -20px 40px -6px rgb(0 0 0 / 70%) inset;
    margin: 0;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    user-zoom: none;
    cursor: not-allowed;
}
.top-bar__text, .top-bar__link {
    display: inline;
    font-size: 15px;
    user-select: none;
    -moz-user-select: none;
    user-zoom: none;
    cursor: not-allowed;
}
.top-bar__link {
    /*background-color: #fff;*/
    border: 1px solid #fff;
    border-radius: 10px;
    color: #ffffff;
    padding: 2px 10px;
    cursor: pointer;
    transition: .5s;
}
.top-bar__link:hover {
    background-color: #fff;
    color: #000;
    transition: .8s;
}



/* Header Style's */

.header {
    margin-top: 52px;
    transition: ease .7s;
    position: sticky;
    top: 0;
    background-color: #151515;
    padding: 26px 20px;
    box-shadow: rgb(0 0 0 / 40%) 0px 15px 40px 8px;
    z-index: 10;
}
.header-area{
    max-width: 1200px;
    margin: auto;
}
.header-area__title, .header-list, .header-list__link {
    display: inline;
}
.header-area__title {
    color: oldlace;
    font-size: 25px;
}
.header-list {
    float: left;
    margin: 1% 1px 1px 1px;
}
.header-list__link {
    padding: 0 5px 0 5px;
}


/* Main Style's */

.site {
    background-color: #101010;
}

.main {
    margin: 0 auto 0 auto;
    padding: 10px 0 40px 0;
    max-width: 1200px;
    background-color: #101010;
}



/* Article Style's */

.article {
    background-color: #101010;
    display: block;
    margin: 30px 10px;
}
.article__title {
    padding: 2px 6px 2px 2px;
    font-size: 30px;
}
.article__avatar {
    width: 98% !important;
    margin: 40px auto 20px auto;
    box-shadow: rgb(0 0 0 / 20%) 9px 9px 15px 4px;
}
.article__text {
    margin: 2px 10px;
    padding: 2px 3%;
    text-align: justify;
}



/* About Style's */

.about {
    background-color: #101010;
    display: block;
    padding: 10px 10px;
}
.about-box {
    background-color: #181818;
    box-shadow: rgb(0 0 0 / 20%) 9px 9px 10px 0px;
    border-radius: 20px;
    width: 98%;
    margin: 40px auto 20px auto;
}
.about-bar {
    display: inline;
}
.about-bar__img {
    width: 100px;
    height: 100px;
    display: inline;
    border-radius: 50px;
    position: relative;
    bottom: 26px;
    left: 10px;
    z-index: 1;
    object-fit:cover;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    user-zoom: none;
    cursor: no-drop;
    box-shadow: rgb(0 0 0 / 20%) 9px 9px 10px 0px;
}
.about-bar__name {
    display: inline;
    position: relative;
    bottom: 65px;
    font-size: 24px;
    line-height: 3;
}
.details {
    display: inline;
    position: relative;
    top: 14px;
    left: 20px;
    float: left;
    font-size: 20px;
}
.details__view, .details__like {
    color: #fff;
    font-size: 15px;
    margin: 0 8px 0 8px;
}
.about-body {
    font-size: 16px;
    padding: 1px 6px 1px 1px;
    position: relative;
    bottom: 15px;
}
.about-body__text {
    font-size: 15px;
}


/* Comments Style's */

.comment {
    background-color: #101010;
    display: block;
    padding: 10px 10px 40px 10px;
}
.comment-box {
    background-color: #181818;
    box-shadow: rgb(0 0 0 / 20%) 9px 9px 10px 0px;
    border-radius: 20px;
    width: 98%;
    margin: 40px auto 20px auto;
    z-index: 2;
    position: relative;
}
.comment-form__title {
    padding: 25px 20px;
    text-align: center;
    font-size: 20px;
    border-bottom: 1px solid #414141;
    color: #808080;
}
.comment-form__textarea {
    background-color: #303030;
    border-radius: 20px;
    width: 94%;
    height: 200px;
    color: #fff;
    text-align: right;
    padding: 14px 10px;
    margin: 40px 10px;
    font-size: 16px;
    box-shadow: inset rgb(0 0 0 / 20%) 9px 9px 10px 0px;
}
.comment-form__submit {
    background-color: rgba(58, 58, 58, 0.87);
    color: rgb(173, 173, 173);
    padding: 15px 50px;
    border-radius: 20px;
    margin: 1px 10px 10px 1px;
    cursor: pointer;
    box-shadow: rgb(0 0 0 / 10%) 9px 9px 10px 0px;
}


.toggle-show-comments{
    transition: ease .7s;
    background-color: #303030;
    color: rgb(212, 212, 212);
    padding: 50px 14px 10px 10px;
    position: relative;
    bottom: 65px;
    z-index: 1;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    width: 150px;
    height: 100px;
    box-shadow: rgb(0 0 0 / 20%) 9px 9px 10px 0px;
}
.toggle-show-comments:hover {
    background-color: #3a3a3ae7;
}


.comment-list {
    transition: ease 1s;
}
.comment-item {
    transition: ease .7s;
    background-color: #181818;
    box-shadow: rgb(0 0 0 / 20%) 9px 9px 10px 0px;
    border-radius: 20px;
    padding: 10px 16px;
    margin: 30px auto 0 auto;
    width: 90%;
}
.comment-item-body {
    display: inline;
}
.comment-item-body__img {
    width: 100px;
    height: 100px;
    display: inline;
    border-radius: 50px;
    position: relative;
    bottom: 26px;
    left: 20px;
    z-index: 1;
    object-fit:cover;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    user-zoom: none;
    cursor: not-allowed;
    box-shadow: rgb(0 0 0 / 20%) 9px 9px 10px 0px;
}
.comment-item-body__name {
    display: inline;
    position: relative;
    bottom: 65px;
    font-size: 24px;
}


/* BoxList Style's */

.box-list {
    background-color: #101010;
    padding: 40px 10px;
}
.box-item {
    top: 0;
    transition: .5s;
    background-color: #181818;
    border-radius: 20px;
    padding: 10px 14px;
    height:350px ;
    box-shadow: rgb(0 0 0 / 20%) 9px 9px 15px 4px;
}
.box-item:hover {
    transition: .5s;
    background: linear-gradient(to right, #213672b3, #39519ebf);
    border-radius: 20px;
    padding: 10px 14px;
    box-shadow: rgb(0 0 0 / 30%) -12px -12px 20px 0px inset,rgb(0 0 0 / 20%) 9px 9px 10px 0px;
}
.box-item__icon {
    font-size: 60px;
    color: #fff;
}
.box-item__title {
    border-top: 1px solid rgb(105, 105, 105);
    padding: 30px 8px 20px 8px;
    font-size: 22px;
}
.box-item__body {
    margin: 10px 30px 30px 0;
    text-align: right;
    color: rgb(141, 141, 141);
}



/* Footer Style's */

.footer {
    margin: 0 0 80px 0;
    padding: 40px 14px 40px 14px;
    background-color: #151515;
    box-shadow: rgb(0 0 0 / 50%) 0px 18px 40px 10px;
}



/* Coppy Right Style's */

.CoppyRight {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: -5;
    width: 100%;
    height: 80px;
    background: linear-gradient(to right, #213672, #39519e);
    text-align: center;
    padding: 16px 10px;
    margin: 0 auto 0 auto;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    user-zoom: none;
    cursor: not-allowed;
}



/* Tag Style's */

strong {
    font-size: 24px;
}

img {
    max-width: 1200px;
    border-radius: 24px;
}

p {
    padding: 10px;
}

a {
    text-decoration: none;
    color: #fff;
}



/* Fixed Style's */

.cursor-pointer {
    cursor: pointer;
} 

.text {
    max-width: 1000px;
    margin: 5px auto;
}

.rtl {
    direction: rtl;
    text-align: right;
    /* float: right; */
}

.ltr {
    direction: ltr;
    text-align: left;
    float: left;
}

.center {
    margin: auto;
    text-align: center;
}

.display-inline {
    display: inline;
}

.display-block {
    display: block;
}

.display-inline-block {
    display: inline-block;
}



/* Responsive Box */

.container {
    margin: auto;
    display: block;
    text-align: center;
    width: 98%;
    max-width: 1200px;
}


.col-2, .col-3, .col-4, .col-6, .rwd {
    margin: 10px 4px 10px 4px;
}


@media only screen and (min-width:1200px) {
    .col-2 {
        flex: 0 0 auto;
        width: 16% !important;
        display: inline-block !important;
        margin: 6px 4px 6px 4px !important;
    }
}

@media only screen and (min-width:100px) {
    .col-3 {
        flex: 0 0 auto;
        width: 23.8% !important;
        display: inline-block !important;
        margin: 100px 4px 6px 4px !important;
    }
}

@media only screen and (min-width:880px) {
    .col-4 {
        flex: 0 0 auto;
        width: 32% !important;
        display: inline-block !important;
        margin: 6px 4px 6px 4px !important;
    }
}

@media only screen and (min-width:600px) {
    .col-6 {
        flex: 0 0 auto;
        width: 48.8% !important;
        display: inline-block !important;
        margin: 6px 4px 6px 4px !important;
    }
}

@media only screen and (min-width:1000px) {
    .rwd {
        flex: 0 0 auto;
        width: 23.8%;
        display: inline-block;
        margin: 6px 4px 6px 4px !important;
    }
}

@media only screen and (min-width:880px) {
    .rwd {
        flex: 0 0 auto;
        width: 32% ;
        display: inline-block;
        margin: 6px 4px 6px 4px !important;
    }
}

@media only screen and (min-width:600px) {
    .rwd {
        flex: 0 0 auto;
        width: 48%;
        display: inline-block;
        margin: 6px 4px 6px 4px !important;
    }
}

@media only screen and (max-width:540px) {
    .top-bar {
        /* display: none !important; */
        height: 90px;
    }
    .top-bar__link {
        display: none !important;
    }
    .header {
        margin-top: 60px;
    }
}

@media only screen and (max-width: 466px) {
    .header {
        margin-top: 74px;
    }
}